<div class="container">

    <div > 
       <app-update-genre  (genreUpdated)= "genreUpdated($event)" 
        [genre]="updatedGenre" [ajout]="ajout" ></app-update-genre>
   </div>


    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom genres</th> </tr>
                </thead>
                <tbody *ngFor="let cat of genres">
                    <tr>
                        <td>{{cat.idGenre}}</td>
                        <td>{{cat.nomGenre}}</td>
                        <td><button class="btn btn-success" (click)="updateGenre(cat)">Edit</button></td>
                         
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>