<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom jeu en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form>
        
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date Création</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody *ngFor="let game of games">
                    <tr>
                        <td>{{game.idGame}}</td>
                        <td>{{game.nomGame}}</td>
                        <td>{{game.prixGame}}</td>
                        <td>{{game.dateCreation | date:'dd/MM/yyyy'}}</td>
                        <td>{{game.genre.nomGenre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>